

  .row-node {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .grid- {
    user-select: none;
    overflow: hidden;
  }

  .wrapper {
    border: 6px solid #42a5f5;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .App {
    overflow: hidden;
    max-height: 100vh;
    border-bottom: 5px solid #42a5f5;
  }

  .conways-title {
    color: rgb(66, 165, 245);
  }

 